/* Monochromatic Blue */
$mono-lightest: #00E1FA;
$mono-lighter: #28B7C7;
$mono-medium: #3B8B94;
$mono-darker: #3A5D61;
$mono-darkest: #293233;

$font-color: $mono-darker;
$font-alternative-color: $mono-lightest;
$link-color: $mono-lighter;
$main-background: rgba(255, 255, 255, 0.90);

$technology-box-background: rgba(255, 255, 255, 0.90);