/* Monochromatic Blue */
$mono-lightest: #E6DDF2;
$mono-lighter: #9E84BF;
$mono-medium: #64458C;
$mono-darker: #351A59;
$mono-darkest: #190533;

$font-color: $mono-lightest;
$font-alternative-color: $mono-darkest;
$link-color: $mono-lighter;
$main-background: rgba(0, 0, 0, 0.70);

$technology-box-background: rgba(255, 255, 255, 0.20);